<p id="notice"><%= notice %></p>

<p>
  <strong>Maintenance category:</strong>
  <%= @maintenance.maintenance_category_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @maintenance.date %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @maintenance.cost %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @maintenance.mileage %>
</p>

<%= link_to 'Edit', edit_maintenance_path(@maintenance) %> |
<%= link_to 'Back', maintenances_path %>
