<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @auto.user_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @auto.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @auto.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @auto.model %>
</p>

<p>
  <strong>Category:</strong>
  <%= @auto.category %>
</p>

<p>
  <strong>Car company:</strong>
  <%= @auto.car_company_id %>
</p>

<%= link_to 'Edit', edit_auto_path(@auto) %> |
<%= link_to 'Back', autos_path %>
